<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>servletLogin</servlet-name>
		<servlet-class>com.GetEtat.servlets.servletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletLogin</servlet-name>
		<url-pattern>/servletLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletPiece</servlet-name>
		<servlet-class>com.GetEtat.servlets.servletPiece</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletPiece</servlet-name>
		<url-pattern>/servletPiece</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletTechno</servlet-name>
		<servlet-class>com.GetEtat.servlets.servletTechno</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletTechno</servlet-name>
		<url-pattern>/servletTechno</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletVue</servlet-name>
		<servlet-class>com.GetEtat.servlets.servletVue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletVue</servlet-name>
		<url-pattern>/servletVue</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>com.GetEtat.servlets.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletProtocole</servlet-name>
		<servlet-class>com.GetEtat.servlets.servletProtocole</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletProtocole</servlet-name>
		<url-pattern>/servletProtocole</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletRedirection</servlet-name>
		<servlet-class>com.GetEtat.servlets.servletRedirection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletRedirection</servlet-name>
		<url-pattern>/servletRedirection</url-pattern>
	</servlet-mapping>
</web-app>